<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="row">
                <div class="col-md-6 my-5">
                    <div>
                        <label>FirstName</label>
                        <input type="text" formControlName="FirstName" class="form-control" id="FirstName"
                            name="FirstName">
                            <div *ngIf="submitted && f.FirstName.errors" >
                                <div *ngIf="f.FirstName.errors.required" class="text-danger">Firstname is required</div>
                            </div>
                    </div>
                    <div class="py-4">
                        <label>LastName</label>
                        <input type="text" formControlName="LastName" class="form-control" id="LastName"
                            name="LastName">
                            <div *ngIf="submitted && f.LastName.errors" >
                                <div *ngIf= "f.LastName.errors.required" class="text-danger">Lastname is required</div>
                            </div>
                    </div>
                    <div class="py-4">
                        <label>Email</label>
                        <input type="email" formControlName="email" class="form-control" id="email" name="email">
                        <div *ngIf="submitted && f.email.errors" >
                            <div *ngIf="f.email.errors.required" class="text-danger">Email is required</div>
                            <div *ngIf="f.email.errors.email" class="text-danger">Email must be valid</div>
                        </div>
                    </div>
                    <div class="py-4">
                        <label>password</label>
                        <input type="password" formControlName="password" class="form-control">
                        <div *ngIf="submitted && f.password.errors">
                            <div *ngIf="f.password.errors.required" class="text-danger"> password is required</div>
                            <div *ngIf="f.password.errors.minlength" class="text-danger">Password must be 8 characters </div>
                        </div>
                    </div>
                    <div class="py-4">
                        <label>Confirm password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" id="FirstName"
                            name="FirstName">
                            <div *ngIf="submitted && f.confirmPassword.errors">
                                <div *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm password is requuired</div>
                            </div>
                    </div>

                </div>
                <div class="col-md-6 my-5">

                    <div>
                        <label>Phone number</label>
                        <input type="number" formControlName="phonenumber" class="form-control" id="FirstName"
                            name="FirstName">
                            <div *ngIf="submitted && f.phonenumber.errors">
                                <div *ngIf="f.phonenumber.errors.required" class="text-danger">Phone number is required</div>
                                
                            </div>
                    </div>
                    <div class="py-4">
                        <label>Country</label>
                        <select class="form-select" formControlName="country" aria-label="Default select example" placeholder="select a value..">
                            <option value="null" hidden disabled >Choose Everything</option>
                            <option *ngFor="let c of countryList">
                                {{c.countryname}}
                            </option>
                            <div *ngIf="submitted && f.country.errors">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                            </div>
                        </select>
                    </div>
                    <div class="pt-5 pb-0">
                        <label >Gender</label>
                        <div class="form-check form-check-inline px-5 me-0 pe-3">
                            <input class="form-check-input" type="radio" formControlName="food" name="food" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="food" name="food" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                    <div class="py-5">
                        <div class="form-check">
                            <input class="form-check-input" formControlName="check" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Terms and Conditions
                            
                            </label>
                        </div>
                    </div>
                </div>
                <div class="py-3 text-center">
                    <button type="submit" class="btn btn-secondary px-5">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<router-outlet></router-outlet>